@CHARSET "UTF-8";
h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
form {text-align: center;}
input {
	width:200px;
}

label {
	display: inline-block;
	width: 150px;
	margin-right: 30px;
	margin-bottom: 10px;
	text-align: right;
}

fieldset {
	border: none;
	width: 500px;
	margin: 0px auto;
}
